.trendingcard{
    flex-direction: column;
    width: 80%;
}

.tc-banner{
    width: 100%;
}

.tc-inner-wrap{
    background: var(--text-gradient-1);
    padding: 2px;
    border-radius: 18px;
    width: 100%;
}

.tc-content{
    background-color: var(--background);
    border-radius: 18px;
    padding: 18px;
    width: 87%;
    margin-left:4px;
}
.tc-user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px 0px;
}

.tc-user-logo{
    height: 60px;
    border-radius: 8px;
    margin-right: 12px;
}

.tc-ui{
    display: flex;
    flex: 1;

}
.tc-user-name{
    font-size: 18px;
    font-weight: 600;
}

.tc-user-handle{
    font-size: 14px;
    opacity: 0.7;
}
.tc-solana-logo{
    height: 36px;
    cursor: pointer;
}

